
<app-nav></app-nav>
<div class="center-block" class="takecenter"> 
<div class="takecenter2">
<h2 style="border-bottom:1px black solid ;padding: 10px;">Register</h2>
<form #userform="ngForm" (ngSubmit)="onSubmit(userform)" style="padding: 10px;">

        <input [(ngModel)]="service.se.email" class="takeinput" type="email" name="email" #name="ngModel" required   placeholder="email*" >
        <br><br>
        <input [(ngModel)]="service.se.name" class="takeinput" name="name" #name="ngModel" required   placeholder="name*" >
        <br><br>
        <select [(ngModel)]="service.se.country" class="takeinput"  name="country" #name="ngModel" required  >
            
            <option value="" disabled selected>Select your country</option>
            <option *ngFor="let d of country" value="{{d.name}}">{{d.name}}</option>
        </select>
        <br><br>
        <select [(ngModel)]="service.se.state" class="takeinput" name="state" #name="ngModel" required  >
           
            <option value="" disabled selected>Select your State</option>
            <option *ngFor="let d of state" value="{{d.name}}">{{d.name}}</option>
        </select>    
        <br><br>
        <select [(ngModel)]="service.se.city" class="takeinput" name="city" #name="ngModel" required   placeholder="city*">
           
            <option value="" disabled selected>Select your City</option>
            <option *ngFor="let d of citys" value="{{d.name}}">{{d.name}}</option>
        </select>      
        <br><br>
        <input [(ngModel)]="service.se.dbo"  class="takeinput" type="date" name="dbo" #name="ngModel" required   placeholder="DBO" >
        <br><br>
        <input [(ngModel)]="service.se.password" class="takeinput" type="password" name="password" #name="ngModel" required   placeholder="password*" >
        <br><br>
        <button  type="submit" class="takebutton" [disabled]="userform.invalid" >Submit</button>
    </form>
</div>
</div>
<br>
<br>
